{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <div id="header">
        <span class="logo">Bookmarks</span>
        <!-- <a href="{% url 'home' %}">Home</a> -->
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == 'dashboard' %}class="selected"{% endif %}>
                <a href="{% url 'dashboard' %}">My dashboard</a>
            </li>
            <li {% if section == 'images' %}class="selected"{% endif %}>
                <a href="#">Images</a>
            </li>
            <li {% if section == 'people' %}class="selected"{% endif %}>
                <a href="#">People</a>
            </li>
        </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </span>
    </div>
        <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message | tagsafe }}
            </li>   
            {% endfor %}
        </ul>
        {% endif %} 
        
    </div>
</body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>


</html>